<div class="row justify-content-center my-5">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h6>A verification code sent to <%= student.phone %> . Please check your inbox.</h6>
        
      </div>
      <div class="card-body">
        <p class="text-center d-inline">Enter your Verification code</p>
        <input type="text" id="inputValue" class="w-50" />
        <input
          type="text"
          value="<%= student.smsToken %> "
          id="smsTokenField"
          class="d-none"
        />
        
      </div>
      <div class="card-footer">
        <button
          class="btn btn-primary w-100"
          id="smsSubmit"
          data-bs-target="#massage"
          data-bs-toggle="modal"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="massage" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <h5 class="text-center" id="showMassage"></h5>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
